* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  /* overflow: hidden; */
}

.circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* border: 2px solid black; */
}

.circle::before {
  content: "";
  position: absolute;
  /* border: 4px solid orange; */
  clip-path: circle(120px at center);
  background-color: #d33318;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  left: 0;
  top: 0;
}

.circle:hover:before {
  background-color: rgb(121, 121, 246);
  border-radius: 20px;
  clip-path: circle(400px at center);
}

.card .img {
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  height: 350px;
  pointer-events: none;
  transition: 0.5s;
}

.card:hover img {
  height: 500px;
  left: 72%;
}

.card .content {
  position: absolute;
  pointer-events: none;
  width: 50%;
  padding: 20px;
  transition-delay: 5s;
  transition:2s;
  word-spacing: 2px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  display: none;
  left: 50%;
}

.content h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content p {
  font-weight: 500;
  color: black;
  font-size: 20px;
}

.content a {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  margin-top: 10px;
  background-color: #f04d30;
  width: 50%;
  text-align: center;
  padding:  1rem;
  cursor: pointer;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 0 0.5 #d33318;
}

.card:hover .content{
  left: 0%;
  transition: 5s;
  display: block;
}