* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  border: 2px solid red;
  position: relative;
}

.card .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .content .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .content h1{
    text-align: center;
    line-height: 2em;
    
}